<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body >
    <%- include('../partials/header') %>
    <section class="characters-content">
        <%- include('../partials/detailedCharacter') %>
    </section>
    <%- include ("../partials/footer") %>
</body>
</html>